/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: url(./img/bg.png);
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#app {
    position: relative;
    width: 90%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 2rem; */
    background: #141233;
    padding: 3rem 4rem;
    box-shadow: 12px 12px 0px 0px rgb(214, 212, 227);
}

.charts-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .25fr .75fr;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.sub-charts-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-chart-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sub-chart-container > div {
    position: relative;
    width: 100%;
    display: flex;
}

.speed-chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.cog-p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.cog-text {
    font-weight: bold;
    font-size: 1.75rem;
}

.sliders-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.slider-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slider-title {
    opacity: .9;
    font-size: 1.25rem;
    text-wrap: nowrap;
}

.value-text-container {
    position: relative;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.value-text {
    font-size: 2.5rem;
}
